@import "./constants.scss";
//@import "../node_modules/bootstrap/scss/bootstrap";

.main-content {
    
    display: grid;
    font-family: 'Lato', sans-serif;
    grid-template: 1fr 0fr/ 1fr 1fr;
    position: absolute;
    height: 100%;
    width: 100%;
    .main-form {
        
        @extend .basic-display-flex;
        height: 100vh;
        &__title{
            @extend .main-titles
        }

        &__input {
            font-family: $base-font-family;
            background: $base-background-color;
            width: 200px;
            height: 30px;
            margin-bottom: 20px;
            border: $base-border;

            &::placeholder {
                color: black;
            }

            &:hover {
                background: $hover-background-color;
            }

            &:focus {
                outline: none;
                
            }
            &[type=number] {
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }

        }

        &__button {
            font-family: $base-font-family;
            background: $base-background-color;
            border: $base-border;
            width: 80px;
            height: 30px;

            &:hover {
                background: $hover-background-color;
                cursor: pointer
            }
        }
        
    }

    .main-info {
        @extend .basic-display-flex;
        &__title {
            @extend .main-titles
        }
    }
    .table{
        &__th{
            font-size: 16px;
            text-align: center;
        }
    }

    .table__head .table__th {
        width: 10%;
        //aqui como haria para usar el & sin que se rompa el bem
    }
    .table__id{
        margin: 40px;
        width: 90px;
    }


}